---
layout: layout.njk
title: Contact Manufacterer
description: BA Graphic Design Unit 10 Show 2025
pageType: parts

---

<div class="intro-text">

<h1 class="title-name">
    Contact Manufacterer
</h1>

<p class="intro-caption"> 
Is your printer running? Then you better go catch it! <br><br>

'Contact Manufacturer' showcases BA Graphic Design's final year work. 
Have you ever had a printer break on you, run out of ink or kept having paper jams? Technology has progressed so far yet printers seem to break all the time. We had to get our revenge. Smashing already broken printers into smithereens, saving them from landfill and incorporating pieces into the final identity design.<br><br>

Feel free to explore the space and try not to get stabbed by the sharp pieces.

Just kidding, it's all safe!

</p>

</div>