---
layout: layout.njk
title: Contact Manufacterer
description: BA Graphic Design Unit 10 Show 2025
pageType: parts

---

<div>

 <a href="/student1">
<button type= "button"><img src="/assets/printerparts/printerpart1.png" alt="student1"
style= "width:350px;height:350px;">
    </button>
</a>

</div>