---
layout: layout.njk
title: Contact Manufacterer
description: BA Graphic Design Unit 10 Show 2025
pageType: parts

---

<div class="intro-text">

<h1 class="title-name">*Contact Manufacterer*</h1>
<p class="intro-caption">caption goes here</p>

</div>


<div>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/1.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/2.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/3.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/4.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/5.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/6.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/7.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/8.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/1.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/2.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/3.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/4.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/5.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/6.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/7.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

 <a href="/student1" class="image-button-wrapper">
<button type= "button" class="image-button">
    <img src="/assets/printer-parts-transparent/8.png" 
    alt="student1" 
    class="image-button-img">
    </button>
</a>

</div>