---
layout: layout.njk
title: Contact Manufacterer
description: BA Graphic Design Unit 10 Show 2025
pageType: student1

---

<div class="student-profile">
  {% for student in students %}
  <!-- Student info and website -->
  <div class="student-info">
    <h1 class="student-name">{{ student.Name }}</h1>
    <h2 class="project-title">{{ student.Title }}</h2>
    <p class="student-caption">{{ student.Caption }}</p>
    <a href="{{ student.Website }}" class="student-link" target="_blank">{{ student.Website }}</a>
    <p class="student-link">Instagram: {{ student.Instagram }}</p>
  </div>

  <!-- images -->
  <div class="student-gallery">
    <img src="/assets/printer-parts-transparent/1.png" alt="Project image 1" class="student-img">
    <img src="/assets/printer-parts-transparent/1.png" alt="Project image 2" class="student-img">
    <img src="/assets/printer-parts-transparent/1.png" alt="Project image 3" class="student-img">
    <!-- Add up to 5 images -->
  </div>

  {% endfor %}
</div>