---
layout: layout.njk
pagination:
  data: students  
  size: 1
  alias: student
permalink: "student/{{ student.Name | slug }}/index.html"
title: Contact Manufacturer
pageType: student
---

<div class="student-profile">
  <div class="student-info">
    <h1 class="student-name">{{ student.Name }}</h1>
    <h2 class="project-title">{{ student.Title }}</h2>
    <p class="student-caption">{{ student.Caption }}</p>
    {% if student.Website %}
      <a href="{{ student.Website }}" class="student-link" target="_blank">{{ student.Website }}</a>
    {% endif %}
    {% if student.Instagram %}
      <p class="student-link">Instagram: <a href="https://www.instagram.com/{{student.Instagram}}" class="student-link" target="_blank">@{{ student.Instagram }}</a></p>
    {% endif %}
  </div>

  <div class="student-gallery">
    {% if student.Add %}
      {% for img in student.Add %}
        <img src="{{ img }}" alt="{{ student.Name }} project image" class="student-img" />
      {% endfor %}
    {% endif %}
  </div>
</div>
