@import url("https://use.typekit.net/kgs7wjk.css");


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset some default browser styles */
body {
    font-family: 'sofia-pro-soft', sans-serif;
	font-style: normal;
	font-weight: 300;
    min-height: 100vh;
    margin: 0;
    padding: 0;
	background-color: black;

}

/* font to be used */

@font-face {
	font-family: GothRegular;
	src: url(/assets/routed-goth/routed-gothic.ttf);
}

/* font styles end */


/* ✅ GIF background only on index page */
body.index {
	background: url('/assets/images/printer.gif') no-repeat center center fixed;
	background-size: cover;
  }

  .intro-container {
	display: flex;
	justify-content: center; /* horizontally center */
	align-items: center;     /* vertically center */
	height: 100vh;           /* full viewport height */
  }
  

.intro-button {
	font-family: GothRegular;
	display: flex;
    align-items: center;      /* Vertically center text within button */
    justify-content: center;   /* Center content horizontally */
    width: 600px;              /* Fixed width for all buttons */
    height: 200px;              /* Fixed height for all buttons */
    background-size: contain;  /* Scale image to fit within button */
    background-position: center; 
    background-repeat: no-repeat;
    color: white;              /* Text color */
    font-size:80px;
    /* font-weight: 550; */
    text-decoration: none;
    text-align: center;
    border: 1px solid #ddd;  
    transition: background-color 0.3s, transform 0.3s;

}


